{
  "root": true,
  "extends": [
    "@react-native-community",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "airbnb",
    "airbnb/hooks",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "fragment": "Fragment",
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["./src"]
      }
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-use-before-define": 0,
    "react-hooks/exhaustive-deps": 0,
    "react/forbid-prop-types": 0
  }
}
